@import "tailwindcss";

.content {
  position: relative;
  width: calc(100% - 160px);
  float: right;
}

.content::before {
  content: "";
  position: fixed;
  inset: 0; /* top: 0; right: 0; bottom: 0; left: 0 */
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: 145%;
  background-position: center;
  z-index: -1;
  filter: brightness(30%);
}
