@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

.titulo,
.card {
  font-family: "unbounded";
}

.logo {
  font-family: "inter";
}
/* Esconder scrollbar, mas permitir scroll */
html,
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  overflow-y: scroll; /* ativa scroll vertical */
}

.modal,
nav {
  font-family: "poppins";
}
.content {
  width: calc(100% - 200px);
}

body::before {
  content: "";
  position: fixed;
  inset: 0; /* top: 0; right: 0; bottom: 0; left: 0 */
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: brightness(30%);
}
.react {
  animation: react 8s ease 0s infinite normal none;
}
/* Copy code to element you want to animate */
/* Copy this code after the above code */
@keyframes react {
  0% {
    transform: translate(0);
  }

  10% {
    transform: translate(-2px, -2px);
  }

  20% {
    transform: translate(2px, -2px);
  }

  30% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(2px, 2px);
  }

  50% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, -2px);
  }

  70% {
    transform: translate(-2px, 2px);
  }

  80% {
    transform: translate(-2px, -2px);
  }

  90% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}

.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, #766df4) content-box;
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 20deg,
      #0000 21deg 36deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - 9px),
      #000 calc(100% - 8px)
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: s4 1s infinite steps(10);
}

@keyframes s4 {
  to {
    transform: rotate(1turn);
  }
}

@media (max-width: 639px) {
  .content {
    width: 100%;
  }
}
